html {
  text-align: center;
  font-family: Monaco;
  background-color: salmon;

}
.page {
  color: teal ;
  

}

.right {
  float: center;
}

.left {
  display: inline-block;
}

.square {
  background-color: whitesmoke;
  border: .001px solid black;
}

.color {
  background-color: gray;
  border: .01px solid black;
}

.gridContainer {
  margin-top: 25px;
  margin-right: 40 px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid teal;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}

color: #ABD7EB 